img {
	position:absolute;
	margin:auto;
}

.fastestFingerLeftGlowImg {
	top:0px;
	bottom:0px;
	left:557px;
}

.fastestFingerRightGlowImg {
	top:0px;
	bottom:0px;
	right:557px;
}

.fastestTimeCorrectFillImg {
	opacity:0;
	-moz-opacity:0;
	-webkit-opacity:0;
}

.fastestTreeAnswerDiagonalImg {
	top:0px;
	bottom:0px;
	left:48px;
	width:40px;
}

.finalImg {
	opacity:0;
	-moz-opacity:0;
	-webkit-opacity:0;
}

.diagonalImg {
	top:34px;
	left:122px;
	opacity:0;
	-moz-opacity:0;
	-webkit-opacity:0;
}

.correctImg {
	opacity:0;
	-moz-opacity:0;
	-webkit-opacity:0;
}

.incorrectImg {
	opacity:0;
	-moz-opacity:0;
	-webkit-opacity:0;
}

.lifelineFillCenterImg {
	width:150px;
	height:122px;
}

.lifelineGradientCenterImg {
	width:150px;
	height:150px;
	top:-11px;
	transform:rotate(0deg);
}

.lifelineOutlineCenterImg {
	width:150px;
	height:122px;
	filter:drop-shadow(2px 2px 2px black);
}

.lifelineCenterImg {
	width:150px;
	height:122px;
	filter:drop-shadow(0px 0px 1px black);
	opacity:0;
	-moz-opacity:0;
	-webkit-opacity:0;
}

.lifelineFillTreeImg {
	height:100px;
}

.lifelineFillRedTreeImg {
	height:100px;
	opacity:0;
	-moz-opacity:0;
	-webkit-opacity:0;
}

.lifelineGradientTreeImg {
	width:123px;
	height:123px;
	top:-11px;
	transform:rotate(135deg);
}

.lifelineOutlineTreeImg {
	height:100px;
	filter:drop-shadow(2px 2px 2px black);
}

.lifelineTreeImg {
	height:100px;
	filter:drop-shadow(0px 0px 1px black);
	opacity:1;
	-moz-opacity:1;
	-webkit-opacity:1;
}

.lifelineFillStrapImg {
	height:140px;
}

.lifelineFillRedStrapImg {
	height:140px;
	opacity:0;
	-moz-opacity:0;
	-webkit-opacity:0;
}

.lifelineGradientStrapImg {
	width:172px;
	height:172px;
	top:-11px;
	transform:rotate(135deg);
}

.lifelineOutlineStrapImg {
	height:140px;
	filter:drop-shadow(2px 2px 2px black);
}

.lifelineStrapImg {
	height:140px;
	filter:drop-shadow(0px 0px 1px black);
	opacity:1;
	-moz-opacity:1;
	-webkit-opacity:1;
}

.lifelineUsedImg{
	height:100px;
	opacity:0;
	-moz-opacity:0;
	-webkit-opacity:0;
}

.lifelineUsedStrapImg{
	height:140px;
	opacity:0;
	-moz-opacity:0;
	-webkit-opacity:0;
}

.moneyTreeDiagonalImg{
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	margin:auto;
}

.sideStrapGoldImg{
	opacity:0;
	-moz-opacity:0;
	-webkit-opacity:0;
}