table {
	margin:auto;
	position:absolute;
	padding:0px;
}

.moneyTreeTable {
	line-height: 0.895;
	font-size: 0;
	left:5px;
	bottom:125px;
}

.currentLevelTable {
	line-height: 0.895;
	font-size: 0;
	left:10px;
	bottom:127px;
	width:540px;
	border-collapse:collapse;
}

.moneyTreeAmountTd {
	font-family:'Copperplate31bc';
	font-size:39pt;
	color:#EA932C;
	padding:0px;
	padding-left:5px;
	width:600px;
	letter-spacing:0px;
	scale:100% 100%;
	transform-origin:left;
}

.moneyTreeAmountWhiteTd {
	font-family:'Copperplate31bc';
	font-size:39pt;
	color:#FFFFFF;
	padding:0px;
	padding-left:5px;
	width:600px;
	letter-spacing:0px;
	scale:100% 100%;
	transform-origin:left;
}

.moneyTreeDiagonalTd {
	vertical-align:middle;
	min-width:40px;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
}

.moneyTreeLevelTd {
	font-family:'Copperplate31bc';
	font-size:39pt;
	color:#EA932C;
	padding:0px;
	padding-left:45px;
	letter-spacing:-5px;
	text-align:left;
}

.moneyTreeLevelWhiteTd {
	font-family:'Copperplate31bc';
	font-size:39pt;
	color:#FFFFFF;
	padding:0px;
	padding-left:45px;
	letter-spacing:-5px;
	text-align:left;
}

.moneyTreeCurrentLevelTd {
	font-family:'Copperplate31bc';
	font-size:39pt;
	color:#00000000;
	padding:1px;
	padding-left:0px;
	text-align:left;
	background:url('../Images/follower.png') no-repeat;
	background-size:100% 100%;
	background-position:center;
	opacity:0;
	-moz-opacity:0;
	-webkit-opacity:0;
}

.questionTable {
	width:1250px;
	max-width:1250px;
	height:100%;
	bottom:0px;
	top:0px;
	margin-left:335px;
}

.questionTd {
	vertical-align:middle;
	font-size:25pt;
	font-family:Verdana;
	color:#FFFFFF;
	letter-spacing:-1px;
	text-align:center;
}